<mat-toolbar color="primary" class="mat-elevation-z6 header">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>GAME STORE</span>

  <span style="flex: 1 1 auto; min-width: 50px;"></span>
  
  <div class="search">
    <mat-icon fontIcon="search" />
    <input autocomplete="off" spellcheck="false" type="text" placeholder="Search games..." [(ngModel)]="search">
    <button [style.opacity]="search ? 1 : 0" matSuffix mat-icon-button (click)="search=''">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <span style="flex: 1 1 auto; min-width: 20px;"></span>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<main class="main">
  <div class="video-wrapper">
    <video autoplay [muted]="true" loop playsinline *ngIf="currentRandomGame" [src]="currentRandomGame.movies[0]" id="video"></video>
  </div>
  <div *ngIf="currentRandomGame" class="games">
    <div class="info">
      <img [src]="currentRandomGame.header_image" class="mat-elevation-z4">
      <h1>{{currentRandomGame.name}}</h1>
      <p>{{currentRandomGame.about_the_game}}</p>
      <span class="review">{{currentRandomGame.positive}}&nbsp;&nbsp;<mat-icon>thumb_up</mat-icon></span>
      <span class="price"><span style="font-size: 16px">$</span>{{currentRandomGame.price}}</span>
    </div>
  </div>
  <ul *ngIf="randomGames">
    <li *ngFor="let game of randomGames" (mouseover)="currentRandomGame = game" [class.active]="currentRandomGame === game">{{game.name}}</li>
  </ul>
</main>

<router-outlet></router-outlet>
