<h1 mat-dialog-title>
  @switch (type) {
    @case (1) { Register }
    @case (2) { Change Password }
    @default { Login }
  }
</h1>
<div mat-dialog-content>
  <p>
    @if (type === 2) {
      Change your password here.
    } @else {
      Welcome to GameStore!
    }
  </p>
  <div class="fields">
    @if (type === 2) {
      <mat-form-field>
        <mat-label>OLD PASSWORD</mat-label>
        <input type="password" matInput [(ngModel)]="oldPassword" name="password">
      </mat-form-field>
    } @else {
      <mat-form-field>
        <mat-label>USERNAME</mat-label>
        <input matInput [(ngModel)]="username" name="username">
      </mat-form-field>
    }
    <mat-form-field>
      <mat-label>PASSWORD</mat-label>
      <input type="password" matInput [(ngModel)]="password" name="password">
    </mat-form-field>
    @if (type === 1 || type === 2) {
      <mat-form-field>
        <mat-label>CONFIRM PASSWORD</mat-label>
        <input type="password" matInput [(ngModel)]="confirmPassword" autocomplete="off">
      </mat-form-field>
    }
  </div>
  <p>
    @switch (type) {
      @case (0) { If you don't have an account, please <a (click)="type = 1" style="font-weight: bold; text-decoration: underline">register</a> first. }
      @case (1) { If you already have an account, please <a (click)="type = 0" style="font-weight: bold; text-decoration: underline">login</a> first. }
    }
  </p>
  @if (error) {
    <mat-error>{{error}}</mat-error>
  }
</div>
<div mat-dialog-actions style="justify-content: end">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>
    @switch (type) {
      @case (1) { Register }
      @case (2) { Change Password }
      @default { Login }
    }
  </button>
</div>
